.box_discuss {
	width: 100%;
	padding-top: 100px;
	padding-left: 40px;
	font-family: "WiGuru4";
}

.ttl,
.disc {
	margin-top: 10px;
	text-align: left;
}

.ttl {
	font-size: 35px;
	color: #000;
}

.disc {
	font-size: 40px;
	color: #900;
}

.comments {
	margin-top: 10px;
	width: 100%;
	padding: 10px 20px;
	background-color: ;
	border-radius: 5px;
}

.comment {
	width: inherit;
	margin-top: 20px;
}

.who {
	display: flex;
	align-items: center;
	font-size: 30px;
}

.name {
	color: seagreen;
}

.time {
	color: #999;
}

.data {
	margin-left: 10px;
}

.ava {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.cmnt {
	margin-top: 10px;
}

.cmnt .text {
	color: #000;
	font-size: 25px;
}

.txt {
	width: 600px;
}

#text {
	border: 1px solid;
	border-radius: 5px;
	width: 100%;
	padding-left: 10px;
	padding-top: 5px;
}

.addComment {
	padding: 0px 20px;
	margin-top: 30px;
}

.addComment * {
	margin: 5px 0px;
}

#send {
	padding: 10px 20px;
	font-size: 25px;
}

#send:hover {
	background-color: seagreen;
}

.blocked {
	margin-top: 20px;
	font-size: 25px;
	padding-left: 25px;
}

@media (max-width: 680px) {
	.txt {
		width: 100%;
	}
	.box_discuss {
		padding-left: 10px;
	}
}