/*footer*/

.footer {
	width: 100%;
	padding: 10px;
	background-color: #000;
	text-align: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	bottom: 0;
	right: 0;
}

.footer p {
	color: #ffe;
}

.nets {
	display: flex;
	justify-content: center;
}

.socs {
	display: flex;
	justify-content: center;
}

.soc {
	width: 100%;
	margin: 5px 14px;
}

.soc a img {
	width: 25px;
}

.works {
	font-size: 20px;
	color: seagreen;
	padding: 10px 0px;
}