.block_form {
	display: flex;
	padding-top: 60px;
	justify-content: center;
	align-items: center;
}

.form	{
	font-family: "WiGuru4";
}

.form input {
	border: 1px solid black;
}

.ttl {
	text-align: center;
}

.holder {
	color: #555;
	font-size: 25px;
	margin-bottom: 5px;
}

.inp {
	margin-top: 10px;
}

.sub {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

#send {
	font-size: 25px;
	padding: 5px 20px;
	background-color: silver;
	color: #666;
	border: 0;
}

#send:hover {
	background-color: seagreen;
	color: #fff;
}

.block_check {
	display: flex;
	justify-content: center;
	width: 100%;
}

.check {
	display: flex;
	align-items: center;
}

#check {
	width: 20px;
	height: 40px;
}

.agreement {
	margin-left: 10px;
	font-size: 15px;
	color: #444;
	width: 200px;
	user-select: none;

}

#reg {
	font-size: 25px;
	padding: 5px 20px;
	background-color: silver;
	color: #666;
	border: 0;
}

#reg:hover {
	background-color: brown;
	color: #fff;
}