/* site */

@font-face {
	font-family: "EFNMacStyle8px";
	src: url(../font/18076.ttf);
}

@font-face {
	font-family: "WiGuru4";
	src: url('../font/13217.ttf');
}

.main_block {
	font-family: "EFNMacStyle8px";
	width: inherit;
	height: inherit;
	font-size: 50px;
	position: relative;
	padding-top: 50px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 7;
}

.panel {
	width: inherit;
	padding: 5px 15px;
	background-color: #000;
	color: #fff;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 40px;
}

a .logo {
	color: #fff;
}

.user {
	font-size: 20px;
}

.user a {
	color: #fff;
}

.user a:hover {
	color: seagreen;
}

#reg:hover {
	color: brown;
}

.button {
	display: none;
}


.search {
	display: flex;
	width: 100%;
}

.search .inp,
.search .sub {
	padding: 0px 5px;
	display: flex;
}

.exit {
	width: 25px;
	margin-left: 10px;
	cursor: pointer;
}

#exit {
	display: none;
}

.login {
	font-size: 25px;
}

.flag {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.active {
	background-color: seagreen;
}

.blocked {
	background-color: brown;
}

.inp input {
	height: 30px;
	width: 300px;
	border-radius: 4px;
	padding-left: 10px;
	font-size: 20px;
}

.sub input {
	padding: 0px 10px;
	border-radius: 4px;
	background-color: silver;
	font-size: 15px;
	color: #fff;
}

.sub input:hover {
	transition: all 0.1s ease 0s;
 	-webkit-transition: all 0.1s ease 0s;
 	-moz-transition: all 0.1s ease 0s;
 	-ms-transition: all 0.1s ease 0s;
 	-o-transition: all 0.1s ease 0s;	 
	background-color: seagreen;
	opacity: 0.9;
	cursor: pointer;
}

.sub input:focus {
	cursor: progress;
}

.mon_search {
	transition: all 0.7s ease 0s;
}

.mon_search * {
	display: none;
}

.mon_search__active {
	width: 100%;
	padding: 10px;
	background-color: #111;
	transform: translateY(-100%) rotateX(90deg);
	z-index: -1;
}

.mon_search__active * {
	display: block;
}

@media (max-width: 830px) {
	.desk {
		display: none;
	}
	.logo {
		font-size: 25px;
	}
	.panel {
		padding: 15px 15px;
	}
	.user {
		font-size: 15px;
		padding-left: 20px;
	}
	.button {
		display: flex;
		align-items: center;
	}
	.open {
		background-color: seagreen;
	}
	#search {
		padding: 5px 10px;
		color: #fff;
	}
	#search img {
		width: 20px;
	}
	.mon_search {
		transform: rotateX(0deg);
	}
	.mob {
		display: flex;
		justify-content: center;
	}
	.inp, .inp input {
		width: 100%;
	}
	.find {
		background-color: brown;
	}
}