.discuss {
	font-family: "WiGuru4";
	width: 100%;
	padding: 0px 60px;
	padding-top: 100px;
}
.zagolovok {
	font-size: 45px;
}

.themes {
	width: 100%;
	padding: 10px 5px;
	border-radius: 5px;
}

.tema {
	display: flex;
	justify-content: space-between;
}

.name {
	color: #000;
	font-size: 30px;
}

.works {
	color: seagreen;
	font-size: 20px;
	padding: 10px 0px;
}

a {
	color: #000;
}

@media (max-width: 715px) {
	.discuss {
		padding: 0 20px;
		padding-top: 100px;
	}
	.works {
		display: none;
	}
}