/*themes*/

.title {
	font-size: 25px;
	text-align: center;
	color: #eee;
}

.themes {
	width: 100%;
	padding: 10px 0px;
}

.block__themes {
	font-family: "WiGuru4";
	width: 100%;
	padding: 10px 80px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
}
.theme {
	width: inherit;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.zagol {
	font-size: 35px;
	margin-bottom: 10px;
	text-align: left;
}

.nadtext {
	font-size: 20px;
	color: #999;
	max-width: 650px;
}

.recently {
	display: flex;
	align-items: center;
	font-size: 18px;
}

.who {
	display: flex;
	align-items: center;
}

.ava {
	width: 40px;
	height: 40px;
	background-color: #000;
	border-radius: 50%;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.people {
	color: #999;
	text-align: right;
	margin-right: 10px;
}

.data {
	margin-left: 10px;
	width: 120px;
}

.last {
	font-size: 15px;
	color: #888;
}

.name {
	font-size: 25px;
}

.time {
	font-size: 12px;
	font-family: Arial;
	font-weight: 100;
	color: #777;
	margin-top: 3px;
}

.last_news {
	font-size: 25px;
	background-color: seagreen;
	padding: 5px 20px;
	border-radius: 5px;
	color: #fff;

	animation: blick 1s 3 linear;
	-webkit-animation: blick 1s 3 linear;
	-moz-animation: blick 1s 3 linear;
	-o-animation: blick 1s 3 linear;
}

@keyframes blick {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes  {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-moz-keyframes  {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-o-keyframes  {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


/*main themes*/

.main__themes {
	margin-top: 20px;
	width: inherit;
}
.ttl {
	text-align: center;
}
.main__theme {
	width: inherit;
}

.theme {
	padding: 10px 10px;
	border-radius: 10px;
	position: relative;
}

.theme:hover {
	background-color: #eef;
	cursor: pointer;
}

.temy {
	font-size: 30px;
	text-decoration: underline;
}

.ser {
	color: #000;
}

.pagination {
	width: inherit;
	padding: 10px 0px;

	display: flex;
	justify-content: center;
}
.puncts {
	display: flex;
	align-items: center;
}

.punct {
	font-size: 30px;
	margin: 10px;
	padding: 5px 5px;
	border-radius: 4px;
}

.punct a {
	color: #666;
}

.punct a:hover {
	color: #666;
	text-decoration: underline;
}

.punct a:active {
	color: #111;
	text-decoration: underline;
}

.now {
	background-color: #000;
}

.now a {
	color: #fff;
}

.now:active {
	background-color: #111;
}


@media (max-width: 830px) {
	.block__themes {
		padding: 10px 20px;
	}
}

@media (max-width: 715px) {
	.zagol {
		font-size: 20px;
	}
	.nadtext {
		font-size: 15px;
		max-width: 150px;
	}
	.last {
		font-size: 12px;
	}
	.name {
		font-size: 20px;
	}
	.time {
		font-size: 10px;
	}
	.answers {
		font-size: 14px;
	}
	.ava {
		width: 30px;
		height: 30px;
		font-size: 15px;
	}
	.last_news {
		font-size: 15px;
	}
	.ttl {
		font-size: 30px;
	}
	.theme {
		align-items: center;
	}
	.ser {
		font-size: 20px;
	}
	.punct {
		font-size: 20px;
	}
	.recently {
		padding-left: 30px;
	}
}