* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
}

body {
    width: 100%;
}

.error {
    animation-name: dsapear;
    animation-delay: 2s;
    animation-duration: 1.4s; 
    animation-fill-mode: forwards;
}

@keyframes dsapear {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0;
    }
}

.content {
    width: 100%;
    height: 100%;
}

.panel {
    width: 100%;
    height: 50px;
    background-color: rgb(55, 146, 221);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    position: fixed;
    left: 0;
    top: 0;
}

.initials {
    font-size: 15px;
    margin-left: 10px;
}

.initials span {
    text-transform: capitalize;
}

.page {
    padding: 0px 30px;
    padding-top: 50px;
    height: 100%;
}

.contain {
    width: 100%;
    height: 100%;
    /* background: #bbb; */
}

.lout {
    width: 20px;
    margin-left: 10px;
}

.logout {
    display: flex;
    align-items: center;
    height: 100%;
}

.blk {
    width: 100%;
    display: flex;
    margin-top: 25px;
}

.photo {
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.photo #photo {
    width: 25%;
    border-radius: 50%;
    border: 0.5vw solid rgb(55, 146, 221);
}

.fname {
    margin-top: 10px;
    text-align:center;
    font-size: 40px;
    text-transform: capitalize;
}

.information,
.hobbi {
    margin-top: 50px;
    display: block;
}

.information {
    display: flex;
    align-items: center;
}

.block_inf {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    font-size: 20px;
}

.punct {
    font-size: 35px;
    text-align: center;
    color: rgb(55, 146, 221);
    margin-top: 20px;
}

.arg {
    margin-right: 10px;
}

.interests {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.interes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 33%;
    margin-top: 10px;
    padding: 10px 0px;
}

.block {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.interes img {
    width: 30px;
    margin-right: 5px;
}

#footer {
    width: 100%;
    height: 40px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 50px;
}

.nik {
    text-transform: capitalize;
}

.exit {
    position: fixed;
    top: 60px;
    right: 15px;
    color: #000000;

    animation-name: radar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.exit img {
    width: 20px;
    margin-left: 5px;
}

@keyframes radar {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}